<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <!-- Kiri -->
        <div>
            <a class="navbar-brand" href="{% url 'home' %}">
            <img src="/media/base/SpongeBob_SquarePants_logo_by_Nickelodeon.svg.png" alt="" width="" height="50">
            </a>
        </div>

        <!--Tengah -->
        <div>
            <a href="" class="btn">Booking Facility</a>
            <a href="{% url 'facility_list' %}" class="btn">Propose/Manage Facility</a>
            <a href="" class="btn">Public Infrastructure</a>
            <a href="" class="btn">About</a>
        </div>

        <!-- Kanan -->
        <div>
            Test
        </div>
    </div>
  </nav>